.newTaskForm input {
  padding: 8px 4px;
}

.taskInput {
  outline: none;
  border: none;
  cursor: default;
}

.task {
  display: flex;
  flex-direction: column;
}

.task div.row {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.task div.row.savedTasks {
  border-bottom: 1px solid #ddd;
  padding: 8px 4px;
}

.task div.row.savedTasks input {
  background: transparent;
}

input {
  width: 100%;
}

.task button {
  outline: none;
  background-color: transparent;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 3px 0;
  cursor: pointer;
}

.task button.removeButton {
  color: #a6598b;
  background-color: #ecdbe6;
}

.task button.addButton {
  color: #59a674;
  background-color: #dbece1;
  margin-left: -3px;
}

.order {
  text-align: center;
  color: #999;
}
/* 
@media (max-width: 500px) {
  .task div.row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    margin-bottom: 2rem;
  }
} */
