.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100; /* Stays above other items */
  background: repeating-linear-gradient(90deg, #f4f4ef, white 10px);
  top: 0px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; /* It's the exact size of padding-top from body */
}
